\documentclass[14pt]{article} % -*- mode: latex -*-
\usepackage{amsmath}
\usepackage{graphicx}
\usepackage{tikz}
\usepackage{color}
\usepackage[active, tightpage]{preview}
\setlength\PreviewBorder{10pt}
%\graphicspath{{../}}
\begin{document}
\pagenumbering{gobble}
\begin{preview}
<%= contents %>
\end{preview}
\end{document}
