@media (prefers-color-scheme: light) {
    :root {
        --color-background: #fefefe;
        --color-text: #121212;
        --color-text-muted: #aaa;
        --color-border: #888;
    }
}

:root {
    --color-background: #1a1c1e;
    --color-background-sidebar: #303030;
    --color-background-sidebar-selected: #434245;
    --color-background-titlebar: #34383b;
    --color-background-textfield: #646566;
    --color-text: #dedede;
    --color-text-muted: #aaa;
    --color-border: #888;
}

// Option flags
$enable-gradients: true;
$enable-shadows: true;

// Twiddly bits
$border-radius: .2rem;
$label-margin-bottom: .2rem;

// Fonts
@font-face {
    font-family: "Inter UI";
    src: url("/fonts/inter/web/Inter-Light.woff") format("woff"),
         url("/fonts/inter/web/Inter-Light.woff2") format("woff2");
    font-weight: lighter;
}
@font-face {
    font-family: "Inter UI";
    src: url("/fonts/inter/web/Inter-Bold.woff") format("woff"),
         url("/fonts/inter/web/Inter-Bold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: "Inter UI";
    src: url("/fonts/inter/web/Inter-Bold.woff") format("woff"),
         url("/fonts/inter/web/Inter-Bold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: "Inter UI";
    src: url("/fonts/inter/web/Inter-Regular.woff") format("woff"),
         url("/fonts/inter/web/Inter-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Megrim";
    src: url("/fonts/megrim/Megrim-Regular.ttf");
}

$font-family-sans-serif: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Colors
$white: #fff;
$green: #209d3e;

$body-bg: #1a1c1e;
$body-color: #dedede;

$pre-color: #dedede;

$input-color: #cecece;
$input-bg: darken($body-bg, 2%);
$input-border-color: lighten($body-bg, 20%);

// Navbar
$navbar-dark-color: rgba($white, .7);
$navbar-dark-hover-color: rgba($white, .9);
$navbar-padding-y: 20px;
$navbar-padding-x: 30px;

// Cards
$card-bg: lighten($body-bg, 10%);
$card-spacer-y: 0.5rem;
$card-spacer-x: 1rem;

// Dropdown
$dropdown-padding-y: .25rem;
$dropdown-spacer: 0;

$dropdown-bg: lighten($card-bg, 5%);
$dropdown-border-color: darken($dropdown-bg, 20%);
$dropdown-border-radius: 2px;

$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: lighten($card-bg, 15%);


// .card {
//     box-shadow: 2px 2px 5px #181818, 
//                 -2px -2px 5px #2a2a2a;
// }

// --color-background-sidebar: #303030;
// --color-background-sidebar-selected: #434245;
// --color-background-titlebar: #38393b;
// --color-background-textfield: #646566;
// --color-text-muted: #aaa;
// --color-border: #888;
