<%# -*- mode: web -*- %>

<div class="card question-card">
  <div class="card-body">
    <div class="row justify-content-between px-3">
      <h3 class="card-title d-inline-block"><%= @question.name %></h3>
      <%= live_patch icon(@socket, "edit", color: "#209d3e"), to: Routes.question_index_path(@socket, :edit, @question), class: "btn btn-link", role: "button" %>
    </div>
    <%= @question.text %>
  </div>
</div>
