<%# -*- mode: web -*- %>
<div>
    <form phx-change="suggest-tags" phx-submit="add-tag" phx-target="<%= @myself %>">
        <div class="form-group">
            <input type="text" name="new_tag" placeholder="Search or add tag…" list="suggestions" class="form-control">
        </div>

        <datalist id="suggestions">
            <%= for sug <- @suggestions do %>
                <option value="<%= sug %>"><%= sug %></option>
            <% end %>
        </datalist>
    </form>
</div>
